.listQuiz__container{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    .quiz__container{
        .card__img{
            height: 200px;
        }
        .card-text{
            height: 50px;
        }
    }
}