.display-infor-container {
  .showHide {
    cursor: pointer;
    padding: 10px;
    background-color: aqua;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .img__logo{
    width: 30%;
    height: 30%;
  }
}
