.dashboard__container{
    padding: 15px;
    .title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .content{
        display: flex;
        gap: 20px;
        .c__left{
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            gap: 20px;
            .child{
                width: calc(50% - 10px);
                height: 150px;
                border: 1px solid goldenrod;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                flex-direction: column;
                .text__2{
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }

        .c__right{
            width: 50%;
            height: 339px;
        }
    }
}